<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="v8.redist-v140-x86" version="7.1.302.33" targetFramework="native" />
  <package id="v8.redist-v141-x64" version="7.1.302.33" targetFramework="native" />
  <package id="v8-v140-x86" version="7.1.302.33" targetFramework="native" />
  <package id="v8-v141-x64" version="7.1.302.33" targetFramework="native" />
</packages>