<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="v8.redist-v142-x64" version="8.0.426.28" targetFramework="native" />
  <package id="v8.redist-v142-x86" version="7.5.288.23" targetFramework="native" />
  <package id="v8.symbols-v142-x64" version="8.0.426.28" targetFramework="native" />
  <package id="v8.symbols-v142-x86" version="7.5.288.23" targetFramework="native" />
  <package id="v8-v142-x64" version="8.0.426.28" targetFramework="native" />
  <package id="v8-v142-x86" version="7.5.288.23" targetFramework="native" />
</packages>