<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="v8.redist-v120-x64" version="5.6.326.55" targetFramework="native" />
  <package id="v8.redist-v140-x64" version="6.2.414.46" targetFramework="native" />
  <package id="v8.redist-v141-x64" version="6.4.388.11" targetFramework="native" />
  <package id="v8.symbols-v120-x64" version="5.6.326.55" targetFramework="native" />
  <package id="v8-v120-x64" version="5.6.326.55" targetFramework="native" />
  <package id="v8-v140-x64" version="6.2.414.46" targetFramework="native" />
  <package id="v8-v141-x64" version="6.4.388.11" targetFramework="native" />
</packages>