<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="v8.redist-v120-x64" version="5.6.326.55" targetFramework="native" />
  <package id="v8.symbols-v120-x64" version="5.6.326.55" targetFramework="native" />
  <package id="v8-v120-x64" version="5.6.326.55" targetFramework="native" />
</packages>