name: CMake

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        build_type: [ Release ] #, Debug ]
        shared_lib: [ false, true ]
        header_only: [ false, true ]
        v8_compress_pointers: [ false, true ]
        exclude:
          - os: ubuntu-latest
            v8_compress_pointers: true
          - os: macos-latest
            v8_compress_pointers: false
          - os: windows-latest
            v8_compress_pointers: false

    runs-on: ${{matrix.os}}

    name: '${{matrix.os}} ${{matrix.build_type}} shared_lib=${{matrix.shared_lib}} header_only=${{matrix.header_only}} v8_compress_pointers=${{matrix.v8_compress_pointers}}'

    steps:
    - uses: actions/checkout@v2

    - name: Install V8 apt 
      if: startsWith(matrix.os, 'ubuntu')
      run: sudo apt install libv8-dev -y

    - name: Install V8 brew
      if: startsWith(matrix.os, 'macos')
      run: brew install v8

    - name: Install V8 nuget
      if: startsWith(matrix.os, 'windows')
      run: nuget install v8-v142-x64 -OutputDirectory ${{github.workspace}}/build

    - name: Install Visual C++ 
      if: startsWith(matrix.os, 'windows')
      uses: ilammy/msvc-dev-cmd@v1

    - name: Install ninja-build tool
      uses: seanmiddleditch/gha-setup-ninja@v3

    - name: Configure CMake
      run: cmake -G Ninja -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{matrix.build_type}} -DBUILD_TESTING=TRUE -DBUILD_SHARED_LIBS=${{matrix.shared_lib}} -DV8PP_HEADER_ONLY=${{matrix.header_only}} -DV8_COMPRESS_POINTERS=${{matrix.v8_compress_pointers}}

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{matrix.build_type}}

    - name: Test
      working-directory: ${{github.workspace}}/build
      run: ctest -C ${{matrix.build_type}} -V
